body {
  background-color: #0e141b;
}

.header {
  width: 100vw;
  padding: 1rem 1rem;
  background-color: #182635;
}

.layout {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
  grid-auto-rows: minmax(22vh, auto);
  max-width: 96vw;
  padding-top: 1rem;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1200px){
  .layout{
    max-width: 60vw;
  }
}

@media screen and (min-width: 900px) and (max-width: 1199.99px){
  .layout{
    grid-gap: 10px;
    max-width: 75vw;
  }
}

@media screen and (min-width: 600px) and (max-width: 899.99px){
  .layout{
    grid-gap: 5px;
    max-width: 88vw;
  }
}

@media screen and (min-width: 600px){
  .layout{
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(29vh, auto);
  }
}

.card {
  /*display: flex;*/
  /*justify-content: center;*/
  /*align-items: center;*/
  border: 5px solid transparent;
  border-radius: 15px;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.7s;
  transform-style: preserve-3d;
  /*perspective: 1000px;*/
}

.card:has(.card-back > img):not(.card-active):hover {
  border-color: red;
  cursor: pointer;
}

.card:has(.card-active > .card-back > img):hover {
  border-color: transparent !important;
}

.card:not(:has(.card-back > img)) {
  border-color: #182635;
  background-color: #111a23;
}

.card-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.back-card-image {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.card-active {
  transform: rotateY(180deg);
  transition: transform 0.8s;
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-back {
  transform: rotateY(180deg);
}